form {
  color: #393a3d;
  font-family: Avenir Next forINTUIT,Avenir,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media only screen and (min-width: 768px) {
  form {
    padding: 0 20px;
  }
}

@media (min-width: 992px){
  form {
    min-height: 415px;
  }
}

.page_level_panel_title{
  color: #393a3d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

@media (min-width: 992px){
  .page_level_panel_container {
    padding-bottom: 30px;
    border-bottom: 1px solid cyan;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px){
  .page_level_panel_title {
    color: #6b6c72;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
}

.question_label, .sv_q_title {
  color: #6b6c72;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  justify-content: space-between;
  line-height: 20px;
  margin-bottom: 4px;
  width: 100%;
}

.question_input_field {
  color: #393a3d;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 8px;
  background: 0 0;
  border: none;
  box-sizing: border-box;
  flex: 1;
  background-color: #fff;
  border: 1px solid #babec5;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  height: 36px;
  overflow: hidden;
}

.question_input_field:focus, .question_input_field:hover {
  background-color: #fff;
  border-color: #037c8f;
  box-shadow: 0 0 0 2px rgba(3,124,143,0.25);
}

@media only screen and (min-width: 992px){
  .question_input_field {
    font-weight: 500;
    padding: 8px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b6b6b8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b6b6b8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b6b6b8;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b6b6b8;
}

/* input[type="date"]:placeholder-shown {
  color: #b6b6b8;
} */

input[class="question_input_field"] + div > span {
  font-style: italic;
  color: #6b6c72;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/* Label of Radio Qquestion */
div[role="radiogroup"] .sv_q_title {
  border-bottom: none;
  color: #393a3d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 0;
}

input[type=checkbox], input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  background-color: #fff;
  color: #037c8f;
  top: 3px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
  border: 1px solid #393a3d;
}

@media (min-width: 768px){
  input[type=radio]{
    height: 20px;
    width: 20px;
  }
}

input[type=radio]:checked::before {
  position: absolute;
  top: -18px;
  left: -1px;
  content: '\25cf';
  font-size: 50px;
}

@media (min-width: 768px){
  input[type=radio]:checked::before {
    position: absolute;
    top: -9px;
    left: 0px;
    font-size: 30px;
  }
}

input[type=radio]:hover {
  border: 1px solid #037c8f;
}

input[type=radio]:checked {
  border: 1px solid #037c8f;
}

.sv_q_radiogroup span[style]{
  color: #393a3d;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  max-width: 100%;
  text-align: left;
}

.sv_nav {
  display: flex;
  flex-direction: column-reverse;
}

.sv_nav > input {
  font-size: 19px;
  line-height: 24px;
  min-height: 48px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 5px;
  min-height: 38px;
  outline: none;
  text-align: center;
  transition: all .24s ease;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
}

@media (min-width: 992px){
  .sv_nav {
    display: inline;
    margin-top: 50px;
    padding-top: 30px;
  }
  .sv_nav > input {
    width: 120px;
    padding-right: 20px;
  }
}

.sv_next_btn{
  background-color: #037c8f;
  color: #fff;
}

@media (min-width: 992px){
  .sv_next_btn {
    margin-top: -10px;
    position: absolute;
    right: 2%;
  }
}

.sv_prev_btn{
  background-color: #fff;
  color: #6b6c72;
  min-width: 0;
  padding-left: 18px;
}

@media (min-width: 992px){
  .sv_prev_btn {
    order: -1;
  }
}

select {
  /* -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; */
  padding-right: 25px;
  -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-border-radius: 0;
  -webkit-box-shadow: none;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  background-color: #fff;
  background-image: none;
  border: solid #babec5;
  border-radius: 0;
  border-width: 0 0 1px;
  box-shadow: none;
  outline: 0;
  padding: 0;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  width: 100%;
  color: #393a3d;
  margin-top: 10px;
  margin-bottom: 30px;
}

select:hover, select:focus {
  border-color: #037c8f;
  box-shadow: 0 0 0 2px rgba(3,124,143,0.25);
}

@media (min-width: 992px){
  select {
    border-color: #babec5;
    border-width: 1px;
    height: 2.3em;
    padding: 2px 9px;
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 40%;
  }
}
