/* Page Title */
.page_title {
  display: inline-block;
  text-decoration: inherit;
  max-width: 900px;

  color: #393a3d;
  font-family: Avenir Next forINTUIT,Avenir,Helvetica,Arial,sans-serif;
  font-style: normal;

  margin: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  min-width: 85%;

  padding-bottom: 20px;
  text-align: center;
}

/* There is only one break point, width<=768px or width>768px */
@media (min-width: 992px) {
  .page_title {
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;

    padding-bottom: 30px;
    text-align: left;
  }
}

/* Panel Title */
.panel_title {
  display: inline-block;
  text-decoration: inherit;
  max-width: 900px;

  color: #393a3d;
  font-family: Avenir Next forINTUIT,Avenir,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

@media (min-width: 992px) {
  .panel_title {
    color: #6b6c72;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
  }
}

/* question.getType()="text" */
.text_label {
  max-width: 900px;
  color: #6b6c72;
  display: flex;
  font-family: Avenir Next forINTUIT,Avenir,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  justify-content: space-between;
  line-height: 20px;
  margin-bottom: 4px;
  width: 100%;
}

.text_input {
  width: 100%;
  color: #393a3d;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 8px;
  background: 0 0;
  border: none;
  box-sizing: border-box;
  flex: 1;
  font-family: Avenir Next forINTUIT,Avenir,Helvetica,Arial,sans-serif;
  font-style: normal;
}

@media only screen and (min-width: 992px) {
  .text_input {
    font-weight: 500;
    padding: 8px;
  }
}

.text_input_wrapper {
  --cgds-input-focus-border-color-5dbe62: #037c8f;
  --cgds-input-focus-shadow-color-5dbe62: rgba(3,124,143,0.25);
  --background-color: #fff;
  --border-color: #babec5;
  --focus-background: #fff;
  --focus-border-color: var(--cgds-input-focus-border-color-5dbe62);
  --focus-shadow-color: var(--cgds-input-focus-shadow-color-5dbe62);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  height: 36px;
  overflow: hidden;
}

.text_input_wrapper:focus {
  background-color: var(--focus-background);
  border-color: var(--focus-border-color);
  box-shadow: 0 0 0 2px var(--focus-shadow-color);
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
}

.text_question {
  margin-bottom: 20px;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
}

/* This is question specific style, implement it in json */
@media (min-width: 992px) {
  /* Only for first name, last name, and date of birth */
  .text_question_a {
    width: 33.33%;
  }
  /* Only for middle name, and sr,jr */
  .text_question_b {
    width: 16.67%;
  }
  /* Only for social security number, occupation */
  .text_question_c {
    width: 50%;
  }
}

/* Dropdown Question */
/* Label is same as Text-question label */
/* Choices for the dropdown */

.dropdown_box {
  -webkit-appearance: none;
  appearance: none;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTAiIHhtbG5zPSJod…AwIDE2IDEuMDMxeiIgZmlsbD0iIzAzN0M4RiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+) no-repeat right 6px center;
  padding-right: 25px;
  -webkit-border-radius: 0;
  -webkit-box-shadow: none;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  background-color: #fff;
  background-image: none;
  border: solid #babec5;
  border-radius: 0;
  border-width: 0 0 1px;
  box-shadow: none;
  outline: 0;
  padding: 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  width: 100%;
  color: #393a3d;
  font-family: Avenir Next forINTUIT,Avenir,Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  display: block;
  height: 34px;
}

@media (min-width: 992px) {
  .dropdown_box {
    border-color: #babec5;
    border-width: 1px;
    height: 2.3em;
    padding: 2px 9px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

/* Radiogroup Question */
.radio_question_legend {
  display: inline-block;
  text-decoration: inherit;
  max-width: 900px;

  border-bottom: none;
  color: #393a3d;
  font-family: Avenir Next forINTUIT,Avenir,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 0;
}

legend {
  display: block;
  width: 100%;
  border: 0;
}

input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  line-height: normal;
  padding: 0;
}
